/* fondo Modal */
#modalSeccion {
    display: none; 
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; 
}

/* Caja de Modal*/
.ContenidoModal{
    background-color: #44B7C8;
    border-radius: 3px;
    color: aliceblue;
    font-family: Nanum Gothic;
    font-size: 36px;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    text-align: center;
}